.bg {
  /* background-image: url("../../assets/skills-bg-2.jpg"); */

  background-size: 50%;
  background-color: rgb(71, 69, 69);
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  transform: skew(0deg, 5deg);

  background-position: center;
  /* background-attachment: fixed; */
}

.bg > * {
  transform: skew(0deg, -5deg);
}

@media (max-width: 768px) {
  .bg {
    /* background-image: url("../../assets/skills-bg-2.jpg"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}
